body {
    margin: 0px;
    background-color: #F5F6F7;
}

#first {
    height: 300px;
    background-image: url("../image/pillars-01.jpeg");
    background-color: black;
    background-size: cover;    
}

#first-bg {
    height: 100%;
    text-align: center;
    background: rgba(63, 63, 63, 0.6);
}

#first-head{
    padding-top: 120px;
    font-family: 'Cinzel', serif;
    color: #E5C175;
    font-size: 3em;
}


#hr{
    margin-top: 5px;
    width: 250px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(229, 193, 117, 0), rgba(229, 193, 117, 0.75), rgba(229, 193, 117, 0));
}

#second{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:20px;
    padding-right: 20px ;
}

#company-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#cont-img img{
    width:400px;
    height:300px;
    padding-top:20px;
}

#cont-text{
    width: 50%;
}
@media (max-width: 510px){
    #cont-text {
        padding-left:20px;
        padding-right: 20px ;
        width: 400px;
    }
    #cont-img img{
        width:360px;
        height:300px;
    }
}

.heading-1{
    font-family: 'Cinzel', serif;
    color: #E5C175;
}
.p-tag{
    font-family: 'Open Sans', sans-serif;
}
.second-hr{
    width:50px;
    margin-left: 0px;
    border-top:1.5px solid #616368;
    border-bottom:transparent;
}

#third{
    width:100%;
    background-color: white;
    background-size: cover;    
    background-image: url(../image/our_his-01.jpeg);
}

#third-bg{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: space-around;
}
#third-bg > h2{
    color:#E5C175;
    font-family: 'Cinzel', serif;
}

#third-bg > p{
    color:white;
}
.third-hr{
    width:70px;
    color: white;
    border-bottom: transparent;
}

.third-p{
    margin-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
}

@media (max-width: 510px){
    .third-p{
        padding-left: 30px;
        padding-right: 30px;
    }
}
#fourth{
    width:100%;
    background-color: #FAF6EB;
    background-size: cover;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:50px;
    padding-bottom:50px;
}
.fourth-hr{
    border-bottom: transparent;
    border-top: 1px solid black;
    width: 40px;
    margin-left: 0px;
}

.info > h2{
    font-family: 'Cinzel', serif;
    color:rgb(128, 127, 122);
}
.info > h5{
    font-family: 'Cinzel', serif;
    color:rgb(128, 127, 122);
    }