body {
    margin: 0px;
    background-color: #F5F6F7;
}

#first {
    height: 300px;
    background-image: url("../image/pillars-crop.jpg");
    background-color: black;
    filter: brightness(30%);
    background-size: cover;    
}
