body {
    margin: 0px;
    background-color: #F5F6F7;
}

#first {
    height: 300px;
    background-image: url("../image/pillars-01.jpeg");
    background-color: black;
    background-size: cover;    
}

#first-bg {
    height: 100%;
    text-align: center;
    background: rgba(63, 63, 63, 0.6);
}

#first-head{
    padding-top: 120px;
    font-family: 'Cinzel', serif;
    color: #E5C175;
    font-size: 3em;
}


#hr{
    margin-top: 5px;
    width: 250px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(229, 193, 117, 0), rgba(229, 193, 117, 0.75), rgba(229, 193, 117, 0));
}

#second{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:20px;
    padding-right: 20px ;
}

#company-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#cont-img img{
    width:400px;
    height:300px;
    padding-top:20px;
}

#cont-text{
    width: 50%;
}
@media (max-width: 510px){
    #cont-text {
        padding-left:20px;
        padding-right: 20px ;
        width: 400px;
    }
    #cont-img img{
        width:360px;
        height:300px;
    }
}

.heading-1{
    font-family: 'Cinzel', serif;
    color: #E5C175;
}
.p-tag{
    font-family: 'Open Sans', sans-serif;
}
.second-hr{
    width:50px;
    margin-left: 0px;
    border-top:1.5px solid #616368;
    border-bottom:transparent;
}

#third{
    width:100%;
    height: 400px;
    background-color: black;
    background-size: cover;    
    background-image: url(../image/our_his-01.jpeg);
}

.container-fluid{
    background-color: rgb(254, 255, 209);
    padding-bottom: 30px;
    padding-top: 30px;
}

