header {
    width: 100% !important;
    transition: 0.3s !important;
    position: fixed !important;
    z-index: 10 !important;
    font-family: 'Cinzel', serif !important;
    text-align: right !important;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #F5F6F7 !important;
}

header li:hover {
    transition: 0.3s !important;
    color: #E5C175 !important;
}

header a {
    transition: 0.3s !important;
    color: #F5F6F7 !important;
}

header a:hover {
    transition: 0.3s !important;
    color: #E5C175 !important;
}

#header-list > ul {
    margin-right: 10px !important;
    list-style-type: none !important;
    text-decoration-line: none !important;
}

#header-list a {
    text-decoration-line: none !important;
}

#header-list > ul > li {
    display: inline-block !important;
    margin: 10px !important;
}

#header-list > ul > a > li {
    display: inline-block !important;
    margin: 10px !important;
}

#header-list label, #hamburger {
    display: none !important;
}

.drop:hover .drop-list{
    display: block !important;
}

.drop-list {
    display: none !important;
    text-align: center !important;
    padding: 0px !important;
    list-style-type: none !important;
    position: absolute;
    margin-left: -40px !important;
    background: rgba(0, 0, 0, 0.5) !important;
}

.practice {
    margin-left: 10px !important;
}

.drop-list li {
    padding: 5px 10px !important;
}

.drop-list a {
    text-decoration: none !important;
    transition: 0.3s !important;
    color: #F5F6F7 !important;
}

.drop-list a:hover {
    transition: 0.3s !important;
    color: #E5C175 !important;
}

.drop-span {
    display: none !important;
}

@media (max-width: 860px){
    #header-list label{
        display: inline-block !important;
        color: #F5F6F7 !important;
        font-size: 1.2em !important;
        padding: 10px !important;
    }

    #nav {
        display: block !important;
    }

    #header-list a {
        text-decoration: none !important;
    }

    #header-list > ul {
        display: none !important;
    }

    #header-list input:checked ~ ul{
        display: block !important;
    }

    #header-list > ul > a > li {
        display: block !important;
    }

    #header-list > ul > li {
        display: block !important;
    }

    .drop-list {
        position: relative !important;
        background: none !important;
        text-align: right !important;
    }
    .drop-span {
        display: inline !important;
    }
}