header {
    width: 100% !important;
    transition: 0.3s !important;
    position: fixed !important;
    z-index: 10 !important;
    font-family: 'Cinzel', serif !important;
    text-align: right !important;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #F5F6F7 !important;
}

#comp-logo{
<<<<<<< HEAD

=======
    /* display: inline-block; */
    position: absolute;
    top: 10;
    left: 10;
    width: 50px;
  
>>>>>>> 2878f4e55986e8fe11e3fd9372e5d124dcbe150f

}

#comp-logo > img{
    height: 50px;
    width: 50px;
}

header li:hover {
    transition: 0.3s !important;
    color: #E5C175 !important;
}

header a {
    transition: 0.3s !important;
    color: #F5F6F7 !important;
}

header a:hover {
    transition: 0.3s !important;
    color: #E5C175 !important;
}

#header-list > ul {
    margin-right: 10px !important;
    list-style-type: none !important;
    text-decoration-line: none !important;
}

#header-list a {
    text-decoration-line: none !important;
}

#header-list > ul > li {
    display: inline-block !important;
    margin: 10px !important;
}

#header-list > ul > a > li {
    display: inline-block !important;
    margin: 10px !important;
}

#header-list label, #hamburger {
    display: none !important;
}

.drop:hover {
    cursor: pointer !important;
}

.drop:hover .drop-list{
    display: block !important;
}

.drop-list {
    display: none !important;
    text-align: center !important;
    padding: 0px !important;
    list-style-type: none !important;
    position: absolute;
    margin-left: -40px !important;
    background: rgba(0, 0, 0, 0.5) !important;
}

.practice {
    margin-left: 10px !important;
}

.drop-list li {
    padding: 5px 10px !important;
}

.drop-list a {
    text-decoration: none !important;
    transition: 0.3s !important;
    color: #F5F6F7 !important;
}

.drop-list a:hover {
    transition: 0.3s !important;
    color: #E5C175 !important;
}

.drop-span {
    display: none !important;
}

.show {
    display: block !important;
}

.boot {
    padding-top: 15px !important;
    font-size: 1.14em !important;
    padding-bottom: 5px !important;
}

@media (max-width: 860px){
    .boot {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #comp-logo {
        top: 4;
    }

    #comp-logo > img{
        height: 40px;
        width: 40px;
    }

    #header-list label{
        display: inline-block !important;
        color: #F5F6F7 !important;
        font-size: 1.2em !important;
        padding: 10px !important;
    }

    #nav {
        display: block !important;
    }

    #header-list a {
        text-decoration: none !important;
    }

    #header-list > ul {
        display: none !important;
    }

    #header-list input:checked ~ ul{
        display: block !important;
    }

    #header-list > ul > a > li {
        display: block !important;
    }

    #header-list > ul > li {
        display: block !important;
    }

    .drop-list {
        position: relative !important;
        background: none !important;
        text-align: right !important;
    }
    .drop-span {
        display: inline !important;
    }
}