header {
    width: 100%;
    position: fixed;
    z-index: 10;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
}

header a {
    transition: 0.3s;
    color: #F5F6F7;
}

header a:hover {
    transition: 0.3s;
    color: #E5C175;
}

header ul {
    margin-right: 10px;
}

header li {
    display: inline-block;
    margin: 10px;
}

#header-list label, #hamburger {
    display: none;
}

@media (max-width: 840px){
    #header-list label{
        display: inline-block;
        color: #F5F6F7;
        font-size: 1.2em;
        padding: 10px;
    }

    #header-list ul li {
        display: block;
    }

    #header-list a {
        text-decoration: none;
    }

    #header-list ul {
        display: none;
    }

    #header-list input:checked ~ ul {
        display: block;
    }
}