body {
    margin: 0px;
    background-color: #F5F6F7;
}

#first {
    height: 107%;
    background-image: url("../image/first.jpg");
    background-color: black;
    background-size: cover;
}

#first-bg {
    height: 100%;
    text-align: center;
    background: rgba(63, 63, 63, 0.6);
}

#first-img {
    padding-top: 150px;
}

#first-head{
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 3em;
}

#first-desc {
    display: flex;
    justify-content: center;
    color: #E5C175;
}

#first-desc div {
    width: 650px;
}

#first-btn {
    display: flex;
    justify-content: center;
}

#first a {
    color: #E5C175;
    text-decoration: none;
}

#first-btn-text {
    border: 2px solid #E5C175;
    padding: 10px 50px;
    transition: 0.3s;
    font-size: 1.3em;
    font-family: 'Jura', sans-serif;
}

#first-btn-text:hover {
    transition: 0.3s;
    border: 2px solid rgb(255, 238, 201);
}

#second {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
}

.second-div {
    height: 400px;
    width: 240px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.second-div i {
    font-size: 2.8em;
    color: #E5C175;
}

#second-div-hr {
    display: flex;
    justify-content: center;
}

#second-div-hr div {
    width: 50px;
    /* height: 10px; */
    border: 1px solid #616368;
}

#second-div-head {
    font-family: 'Cinzel', serif;
    color: #E5C175;
    font-size: 1.5em;    
}

#second-div-desc {
    color: #c8c5bc;
    padding: 0px 25px;
}

#second-div-btn {
    display: flex;
    justify-content: center;
}

#second-div-btn div{
    color: #E5C175;
    /* height: 50px; */
    font-family: 'Quicksand', sans-serif;
    padding: 10px 0px;
    width: 150px;
    transition: 0.3s;
    border: 2px solid #E5C175;
}

#second-div-btn a {
    text-decoration: none;
}

#second-div-btn div:hover {
    border: 2px solid rgb(255, 238, 201);
    transition: 0.3s;
}

.col1 {
    background-color: #2D313D;
}

.col2 {
    background-color: #17191F;
}

@media (max-width: 740px){
    #first-head {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px){
    #first-head {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 479px){
    .second-div {
        width: 100%;
    }
}