@font-face {
    font-family: palatino;
    src: url("../font/palatino-linotype.ttf") format('truetype');
}

body {
    margin: 0px;
    background-color: #F5F6F7;
}

#first {
    height: 95%;
    background-image: url("../image/first.jpg");
    background-color: black;
    background-size: cover;
}

#first-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    background: rgba(63, 63, 63, 0.6);
}

#first-head{
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 3em;
}

#first-desc {
    display: flex;
    justify-content: center;
    color: #E5C175;
    font-size: 1.1em;
}

#first-desc div {
    width: 650px;
    font-family: 'Alegreya', serif;
}

#first-btn {
    display: flex;
    justify-content: center;
}

#first a {
    color: #E5C175;
    text-decoration: none;
}

#first-btn-text {
    border: 2px solid #E5C175;
    padding: 10px 50px;
    transition: 0.3s;
    font-size: 1.3em;
    font-family: 'Jura', sans-serif;
}

#first-btn-text:hover {
    transition: 0.3s;
    border: 2px solid rgb(255, 238, 201);
}

#second {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
}

.second-div {
    height: 400px;
    width: 240px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.second-div i {
    font-size: 2.8em;
    color: #E5C175;
}

#second-div-hr {
    display: flex;
    justify-content: center;
}

#second-div-hr div {
    width: 50px;
    border: 1px solid #616368;
}

#second-div-head {
    font-family: palatino;
    color: #E5C175;
    font-size: 1.5em;    
}

#second-div-desc {
    color: #c8c5bc;
    padding: 0px 25px;
    font-family: 'Alegreya', serif;
}

#second-div-btn {
    display: flex;
    justify-content: center;
}

#second-div-btn div{
    color: #E5C175;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 0px;
    width: 150px;
    transition: 0.3s;
    border: 2px solid #E5C175;
}

#second-div-btn a {
    text-decoration: none;
}

#second-div-btn div:hover {
    border: 2px solid rgb(255, 238, 201);
    transition: 0.3s;
}

.col1 {
    background-color: #2D313D;
}

.col2 {
    background-color: #17191F;
}

#third {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#third > div {
    flex-grow: 1;
}

#third-about {
    width: 0px;
}

#third-watermark {
    position: absolute;
    left: 30;
    font-size: 7em;
    z-index: 5;
    color: #d5d5d5;
}

#third-head {
    position: relative;
    z-index: 10;
    font-family: palatino;
    margin-left: 120px;
    margin-top: 50px;
    z-index: 10;
    font-size: 1.5em;
}

#third-hr {
    border: 1px solid #616368;
    width: 50px;
    position: relative;
    z-index: 10;
    margin-top: 17px;
    margin-left: 120px;
}

#third-desc {
    font-family: 'Alegreya', serif;
    margin-left: 120px;
    margin-right: 50px;
    text-align: justify;
    margin-bottom: 50px;
}

#third-desc a {
    text-decoration: none;
    color: rgb(255, 123, 0);
}

#third-img {
    background-image: url("../image/about.png");
    background-size: cover;
    background-position: center;
    width: 0px;
}

#third-intro {
    font-family: 'Cinzel', serif;
    background: rgba(0, 0, 0, 0.5);
    color: #E5C175;
    margin: 80px;
    border: 1px solid #E5C175;
}

#third-intro {
    display: flex;
    height: 60%;
    min-height: 200px;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    justify-content: space-around;
}

#fifth {
    color: #E5C175;
    background-image: url("../image/pillars-01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#fifth > div {
    background: rgb(104, 104, 104, 0.5);
}

#fifth-water {
    position: absolute;
    font-size: 7em;
    font-family: palatino;
    color: #E5C175;
    opacity: 0.2;
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
}

#fifth-head {
    font-family: palatino;
    text-align: center;
    padding: 50px 0px;
    font-size: 2.5em;
}

#fifth-desc {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    padding-bottom: 39px;
}

#fifth-desc div {
    width: 80%;
    color: #c8c5bc;
    font-family: 'Alegreya', serif;
    text-align: justify;
}

#fifth-team {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#fifth-team > div {
    width: 230px;
    background-color: #F5F6F7;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#fifth-team > div > div {
    border: 1px solid rgb(141, 116, 62);
}

#team-img {
    height: 200px;
}

.team-img-1 {
    background-image: url("../image/Pawan\ Kawrani\ -\ Partner.jpeg");
    background-position: -200px -60px;
}

.team-img-2 {
    background-image: url("../image/Sahil\ Mahajan\ -\ Partner.jpeg");
    background-position: -300px -55px;
}

.team-img-3 {
    background-image: url("../image/Abhimanyu\ Goel\ -\ Partner.jpeg");
    background-position: -130px -40px;
}

.team-img-4 {
    background-image: url("../image/lawyer4.png");
    background-position: 0px -100px;
    background-size: 100%;
}

.team-img-5 {
    background-image: url("../image/JITESH.jpg");
    background-position: -380px 0px;
    background-size: 150%;
}

#team-name {
    text-align: center;
    font-family: palatino;
    font-size: 1.3em;
    margin: 10px 0px;
}

#team-hr {
    display: flex;
    justify-content: center;
}

#team-hr > div {
    width: 30%;
    border-top: 1px solid rgb(58, 60, 66);
}

#team-details {
    padding: 10px;
    color: #2D313D;
    font-family: 'Alegreya', serif;
    text-align: center;
}

#team-btn {
    text-align: center;
    transition: 0.3s;
    margin: 10px;
    background-color: #2D313D;
    padding: 15px 0px;
    font-family: 'Quicksand', sans-serif;
}

#team-btn:hover {
    transition: 0.3s;
    background-color: #17191F;
}

#fifth-team a {
    text-decoration: none;
    color: #E5C175;
}

#seventh {
    width:100%;
    background-color: #FAF6EB;
    background-size: cover; 
    justify-content: space-around;  
}

#seventh-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:50px;
    padding-bottom:50px;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
}
.seventh-hr{
    border-bottom: transparent;
    border-top: 1px solid black;
    width: 40px;
    margin-left: 0px;
}

.info > h2{
    font-family:"Palatino Linotype";
    font-size: 19px;
    font-weight: lighter;
   
}
.info > h5{
    font-family:"Palatino Linotype";
    font-size: 16px;
    font-weight: lighter;
}

@media screen and (min-width: 1290px){
    #first-head {
        font-size: 4em;
    }
    #first-desc {
        font-size: 1.5em;
    }
    #first-desc div {
        width: 1000px;
    }
    #first-btn-text {
        font-size: 2em;
    }
    .second-div {
        width: 300px;
    }
    #fifth-team > div {
        margin: 5px 20px;
    }
}


@media screen and (max-width: 1000px){
    #third-about {
        width: 100%;
    }
    #third-img {
        width: 100%;
    }
}

@media (max-width: 800px){
    #first-head {
        font-size: 2em;
    }
}

@media (max-width: 510px){
    .info{
        width: 245px;
    }
    #seventh-info{
    padding-left: 0%;
    padding-right: 0%;
    }
}

@media screen and (max-width: 540px){
    #first-head {
        font-size: 1.4em;
    }
    #third-head {
        margin-left: 40px;
    }
    #third-hr {
        margin-left: 40px;
    }
    #third-desc {
        margin-left: 40px;
    }
    #third-watermark {
        font-size: 5em;
    }
    #third-intro {
        margin: 30px 30px;
    }
}

@media screen and (max-width: 479px){
    .second-div {
        width: 100%;
    }
}

@media screen and (max-width: 380px){
    #first-head {
        font-size: 1.2em;
    }
    
    #third-intro {
        font-size: 1.5rem;
    }
}