#first {
    height: 300px;
    background-image: url("../image/pillars-01.jpeg");
    background-color: black;
    background-size: cover;    
  }
  
  #first-bg {
    height: 100%;
    text-align: center;
    background: rgba(63, 63, 63, 0.6);
  }
  
  #first-head{
    padding-top: 120px;
    font-family: 'GFS Didot', serif;
    color: #E5C175;
    font-size: 3em;
  }
  
  
  #hr{
    margin-top: 5px;
    width: 250px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(229, 193, 117, 0), rgba(229, 193, 117, 0.75), rgba(229, 193, 117, 0));
  }
  
  #fourth {
    width:100%;
    background-color: #FAF6EB;
    background-size: cover; 
    justify-content: space-around;  
  }
  #fourth-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:50px;
    padding-bottom:50px;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
  }
  .fourth-hr{
    border-bottom: transparent;
    border-top: 1px solid black;
    width: 40px;
    margin-left: 0px;
  }
  
  .info > h2{
    font-family: 'GFS Didot', serif;
    font-size: 19px;
    font-weight: lighter;
   
  }
  .info > h5{
    font-family: 'GFS Didot', serif;
    font-size: 16px;
    font-weight: lighter;
  }
  @media (max-width: 510px){
    .info{
        width: 245px;
    }
    #fourth-info{
    padding-left: 0%;
    padding-right: 0%;
    }
  }
  
  .head-1{
    font-family:"Palatino Linotype";
  }

  #font-content{
    font-family: 'Alegreya';
      font-weight: lighter;
      font-size: 18px;
  }