


.container{
    padding-top: 20px;
}

#main {
    height: 300px;
    background-image: url("../image/pillars-crop.jpg");
    background-color: black;
    filter: brightness(30%);
    background-size: cover;    
}
body {
    margin: 0px;
    background-color: #F5F6F7;
    }

.btn{
    color: #fff;
    width: 100%;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    border: 2px solid #E5C175 !important;
    
}

.container-fluid{
    background-color: rgb(254, 255, 209);
    padding-bottom: 30px;
    padding-top: 30px;
}

body{
    font-family: 'Cinzel', serif;
}


.form-contact .form-group {
    margin-bottom: 30px;
  }
  
  
  .form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
  }
  
 
  .form-contact .form-control:focus {
    outline: 0;
    box-shadow: none;
  }
  
 
  .form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999;
  }
  

  .form-contact textarea {
    border-radius: 0px;
    height: 100% !important;
  }

  .boxed-btn {
    background: #fff;
    color: #E5C175;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #E5C175;
    letter-spacing: 3px;
    text-align: center;
    color: #E5C175 !important;
    text-transform: uppercase;
}

a, .button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.boxed-btn:hover {
  background: #E5C175;
  color: #fff !important;
  border: 1px solid #E5C175;
}


.modal-content{
    
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    
    
}

#first {
  height: 300px;
  background-image: url("../image/pillars-01.jpeg");
  background-color: black;
  background-size: cover;    
}

#first-bg {
  height: 100%;
  text-align: center;
  background: rgba(63, 63, 63, 0.6);
}

#first-head{
  padding-top: 120px;
  font-family: 'Cinzel', serif;
  color: #E5C175;
  font-size: 3em;
}


#hr{
  margin-top: 5px;
  width: 250px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(229, 193, 117, 0), rgba(229, 193, 117, 0.75), rgba(229, 193, 117, 0));
}

#fourth {
  width:100%;
  background-color: #FAF6EB;
  background-size: cover; 
  justify-content: space-around;  
}
#fourth-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:20px;
  padding-bottom:20px;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
}
.fourth-hr{
  border-bottom: transparent;
  border-top: 1px solid black;
  width: 40px;
  margin-left: 0px;
}

.info > h2{
  font-family: 'GFS Didot', serif;
  font-size: 19px;
  font-weight: lighter;
 
}
.info > h5{
  font-family: 'GFS Didot', serif;
  font-size: 16px;
  font-weight: lighter;
}
@media (max-width: 510px){
  .info{
      width: 245px;
  }
  #fourth-info{
  padding-left: 0%;
  padding-right: 0%;
  }
}

.head-1{
  font-family: 'GFS Didot', serif;
}

#font-content{
  font-family: 'Alegreya';
    font-weight: lighter;
}